body {
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    background-color: #f2f3f7;
}

.main_title {
    margin-bottom: 30px;
    color: #4A90E2;
    border-bottom: 3px solid #4A90E2;
    display: inline-block;
    padding-bottom: 10px;
}

.container-fluid {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

.chapter-number {
    font-weight: bold;
    margin-right: 10px;
    padding: 0 3px;
}

.text-content {
    display: inline;
    margin-left: 5px;
    font-size: 18px;
}

#charpter_select,
#book_select {
    /* size fit content */
    width: fit-content;
}

#next {
    display: flex;
    justify-content: flex-end;
}