<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>BIBLE READER</title>
</head>

<body>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-auto">
                <select id="book_select" class="form-select"></select>
            </div>
            <div class="col-auto">
                <select id="charpter_select" class="form-select"></select>
            </div>
        </div>
        <div id="current_content" class="mt-4">
        </div>
    </div>

    <footer>

        <div id="next" class="d-flex">
            <button id="btn_next" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
            </button>
        </div>

    </footer>

    <script src=" {{ url_for('static', filename='js/bootstrap.bundle.min.js' ) }}">
    </script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>